@{
    ViewBag.Title = "Home Page";
}

<style>
    .city-image {
        background: url(/Content/Images/tapeta-widok-z-bramy-na-ulice-dluga-w-gdansku.jpg) no-repeat top center fixed;
               -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 80vh;
        width: 100%;
        background-color: #060;
        color: #fff;
        padding-top: 250px;
    }
    .search-bar {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    
</style>


<div class="city-image">
    
<div class="alert alert-info search-bar">
    <div class="row">
        <h1 class="cover-heading" style="color: #024cd8!important;">&nbsp;Find your place for NoLimitTrip!</h1>
    </div>
    <br />
    <form method="post" action="@Url.Action("RenderVenues", "Venues")">
        <div class="row">
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Localization" name="city">
            </div>
            <div class="col-md-3">
                <select class="form-control" name="typeOfDisablity">
                    <option value="0">(venue type)</option>
                    @foreach (CommonLibrary.Database.Type item in ViewBag.types)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control" name="type">
                    <option value="0">(disability)</option>
                    @foreach (CommonLibrary.Database.Disability item in ViewBag.disabilities)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-info"> Find </button>

        </div>
    </form>
</div>
</div>
