@model CommonLibrary.Database.Venue
@{
    ViewBag.Title = Model.Name;
}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<style>
    #map {
        margin-top: 1%;
        height: 99%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .controls {
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        height: 29px;
        margin-left: 17px;
        margin-top: 10px;
        outline: none;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

        .controls:focus {
            border-color: #4d90fe;
        }

    .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }
</style>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2> @Model.Name </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    @foreach (var media in Model.MediaList)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@Model.MediaList.IndexOf(media)" active class="@(media.IsDefault ? "active" : "")"></li>
                    }
                </ol>
                <div class="carousel-inner" role="listbox">
                    @foreach (var media in Model.MediaList)
                    {
                        <div class="carousel-item @(media.IsDefault ? "active" : "")">
                            <img src="~/Content/hotels/@(media.Location)" style="height: 350px;" alt="First slide">
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-10">
            @Model.Description
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            Disability help level
        </div>
        <div class="col-md-4">
            <div id="map"></div>
        </div>
        <div class="col-md-4">
            <form method="post" action="@Url.Action("PostComment", "Venues", new {venueId = Model.Id})">
                <input type="hidden" name="rate" id="rate" value="1" />
                <div class="form-group">
                    <label>Comment:</label>
                    <textarea class="form-control" rows="5" name="comment"></textarea>
                </div>
                <div class="row">
                    <div class="form-group col-md-7">
                        <label for="formGroupInputLarge1">Rate:</label>
                        <div class="rating-block">
                            <button type="button" class="btn btn-secondary btn-sm rateStar" id="s1" value="1" aria-label="Left Align">
                                <div class="rating">
                                    <span>☆</span>
                                </div>
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm rateStar" id="s2" value="2" aria-label="Left Align">
                                <div class="rating">
                                    <span>☆</span>
                                </div>
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm rateStar" id="s3" value="3" aria-label="Left Align">
                                <div class="rating">
                                    <span>☆</span>
                                </div>
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm rateStar" id="s4" value="4" aria-label="Left Align">
                                <div class="rating">
                                    <span>☆</span>
                                </div>
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm rateStar" id="s5" value="5" aria-label="Left Align">
                                <div class="rating">
                                    <span>☆</span>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            <button class="btn btn-lg btn-primary" type="submit">Give a rate</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr />
    
    @foreach (var item in Model.Comments)
    {
        <div class="row" style="margin-top: 5px;">
            <div class="col-sm-7">
                <div class="review-block">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                        </div>
                        <div class="col-sm-9">
                            <div class="review-block-rate">
                                <button type="button" class="btn btn-warning" aria-label="Left Align">
                                    <div class="rating">
                                        <span>☆</span>
                                    </div>
                                </button>
                                <button type="button" class="btn @(item.Rating >= 2 ? "btn-warning" : "btn-secondary")" aria-label="Left Align">
                                    <div class="rating">
                                        <span>☆</span>
                                    </div>
                                </button>
                                <button type="button" class="btn @(item.Rating >= 3 ? "btn-warning" : "btn-secondary")" aria-label="Left Align">
                                    <div class="rating">
                                        <span>☆</span>
                                    </div>
                                </button>
                                <button type="button" class="btn @(item.Rating >= 4 ? "btn-warning" : "btn-secondary")" aria-label="Left Align">
                                    <div class="rating">
                                        <span>☆</span>
                                    </div>
                                </button>
                                <button type="button" class="btn @(item.Rating >= 5 ? "btn-warning" : "btn-secondary")" aria-label="Left Align">
                                    <div class="rating">
                                        <span>☆</span>
                                    </div>
                                </button>
                            </div>
                            <div class="review-block-name"><a href="#">nktailor</a> @item.Date.ToString("MMMM dd, yyyy")</div>
                            <div class="review-block-description">@item.CommentContent</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.Comments.Count == 0)
    {
        <div class="row">
            <div class="col-md-7">
                <div class="alert alert-warning text-center">No comments has been posted yet. Sorry.</div>
            </div>
        </div>
    }
</div>

<script>
    $('.carousel').carousel({
        interval: 200000
    });
</script>

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: { lat: -34.397, lng: 150.644 }
        });
        var geocoder = new google.maps.Geocoder;
        geocodePlaceId(geocoder, map);
    };

    function geocodePlaceId(geocoder, map) {
        geocoder.geocode({'placeId': '@Model.PlaceId'}, function(results, status) {
            if (status === 'OK') {
                if (results[0]) {
                    map.setZoom(11);
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    console.log('No results found');
                }
            } else {
                console.log('Geocoder failed due to: ' + status);
            }
        });
    };


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiVLgf0alMQLko1rbpODHX1FkO5RnWy4c&libraries=places&callback=initMap&language=en"
        async defer></script>

<script>
    $(document).ready(function() {
        $('.rateStar').mouseover(function() {
            var stars = $(this).val();
            $('#rate').val(stars);
            for (var i = 1; i <= 5; i++) {
                $('#s' + i).removeClass('btn-warning');
                $('#s' + i).addClass('btn-secondary');
            }
            for (var i = 1; i <= stars; i++) {
                $('#s' + i).removeClass('btn-secondary');
                $('#s' + i).addClass('btn-warning');
            }
        });
    });
</script>
