@model List<CommonLibrary.Database.Venue>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


}
<style>
    .city-image {
        /*background: url(/Content/Images/city1.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
            */
        background: #e4e4e4;
        padding-top: 20px;
        min-height: 80vh;
    }

    .search-bar {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    .img-pophover {
        width: 24px;
        height: 24px;
    }

    .my-container {
        background-color: #f7f7f9;
        border-color: #bcdff1;
        color: #31708f;
        padding: 1.75rem 2.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
</style>

<div class="city-image">
    <div class="container my-container">
        <div class="row">
            <div>
                <h2 class="cover-heading" style="color: #024cd8!important;">Selected places</h2>
                <hr />
            </div>

            <section id="pinBoot">
                @foreach (var item in Model)
                {
                    <article class="white-panel">
                        <img src="~/Content/hotels/@(item.MediaList.FirstOrDefault(x => x.IsDefault.Equals(true)) == null ?"":item.MediaList.FirstOrDefault(x => x.IsDefault.Equals(true)).Location)" alt="">
                        <h4><a href="@Url.Action("Details", "Venues", new { id =item.Id })">@item.Name</a></h4>
                        <p>
                            @item.AddressStreet, @item.AddressCity
                        </p>


                        <div class="">
                            @foreach (var disabilities in item.VenueDisabilties)
                {
                                <img src="~/Content/Images/@(disabilities.UrlToIcon)" class="img-pophover" data-toggle="popover_mobi" data-placement="top" alt="" />
                                @*<script type="text/javascript">
                                    $(document).ready(function () {
                                        $('[data-toggle="popover_mobi"]').popover({
                                            trigger: 'hover',
                                            html: true,
                                            content: '<div class="media"><div class="media-body"></br><h4 class="media-heading">@disabilities.Level</h4><p>@disabilities.LevelDisabilityDescription</p></div></div>'
                                        });
                                    });
                                </script>*@

                            }
                        </div>
                        <hr />
                        @item.Description
                        <!--
                                               foreach (var disabilities in item.VenueDisabilties)
                                               {




                                                       <div class="col-md-6">
                                                           <p>disabilities.DisabilityDescription</p>
                                                       </div>


                                                           <p>disabilities.LevelDisabilityDescription</p>


                                               }
                        -->
                    </article>
                }

            </section>
            <hr>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("BACK", "Index", "Home")
</div>
@section Scripts {



@*<script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover_mobi"]').popover({
                trigger: 'hover',
                html: true,
                content: '<div class="media"><div class="media-body"></br><h4 class="media-heading">@disabilities.Level</h4><p>@disabilities.LevelDisabilityDescription</p></div></div>'
            });
        });
    </script>*@


}

