<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TravelToCloud</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img  src="~/Content/Images/NLT1-2.png" />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link " href="Url.Action(" Index", "Home" )">Home</a>
                </li>


            </ul>

            <ul class="navbar-nav mr-auto navbar-toggler-right">
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Index", "Venues")">Add venue</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Login", "Auth")">Log In</a>
                </li>
            </ul>
            
        </div>
    </nav>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=1350471394989936";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            var audioElement = document.createElement('audio');

            $('.t2s').mouseover(function () {
                audioElement.pause();
                console.log($(this).text());
                audioElement.setAttribute('src', 'http://localhost:64341/home/Text2Speech?text=' + $(this).text());
                audioElement.play();
                console.log('start play');
            });
        });
    </script>

</body>
</html>
